@using Chirp.Web
@using Chirp.Core.Entities
@using Chirp.Core.Repository
@using Chirp.Infrastructure.Repository
@inject SignInManager<Author> SigninManager
@inject UserManager<Author> UserManager
@inject IAuthorRepository AuthorRepository
@model dynamic

 
<ul id="messagelist" class="cheeps">
    @foreach (CheepViewModel cheep in Model.Cheeps)
    {
        <li>
            <div class="cheep-view">
                <div class="cheep-info">
                    <strong>
                        <a href="/@cheep.Author">@cheep.Author</a>
                    </strong>
                    <p class="cheep-message">
                        @cheep.Message
                    </p>

                    <small>&mdash; @cheep.Timestamp</small>
                </div>
                <div class="reaction-box">
                    @foreach (var reaction in cheep.Reactions)
                    {
                        <u class="reactions-display">@reaction.reactionType: @reaction.count</u>
                    }
                </div>
                @if (SigninManager.IsSignedIn(User) || cheep.Author == User.Identity?.Name){
                    if (!Model.user.Following.Contains(UserManager.GetUserAsync(User).Result)) {
                <form method="post" asp-page="public" asp-page-handler="Follow">
                    <input type="hidden" id="author2FollowId" name="Author2FollowInput" value="@AuthorRepository.GetAuthorByName(cheep.Author).Id" />
                    <input type="submit" value="Follow" />
                </form>
                            } else {
                <form method="post" asp-page="public" asp-page-handler="Unfollow">
                    <input type="hidden" id="author2UnfollowId" name="Author2UnfollowInput" value="@AuthorRepository.GetAuthorByName(cheep.Author).Id" />
                    <input type="submit" value="Unfollow" />
                </form>
                    }
                
                }
            </div>
        </li>
    }
</ul>
<div>

    <form method="post" asp-page="public" asp-page-handler="GoToPage" id="goToPageForm">
        <input type="hidden" name="NewPage" value="1" />
        <input type="submit" value="1" />
    </form>

    <form method="post" asp-page="public" asp-page-handler="GoToPage" id="goToPageForm">
        <input type="hidden" name="NewPage" value="1" />
        <input type="submit" value="Prev" />
    </form>

    <form method="post" asp-page="public" asp-page-handler="GoToPage" id="goToPageForm">
        <input type="hidden" name="NewPage" value="1" />
        <input type="submit" value="1" />
    </form>

    <form method="post" asp-page="public" asp-page-handler="GoToPage" id="goToPageForm">
        <input type="hidden" name="NewPage" value="1" />
        <input type="submit" value="Next" />
    </form>

    <form method="post" asp-page="public" asp-page-handler="GoToPage" id="goToPageForm">
        <input type="hidden" name="NewPage" value="1" />
        <input type="submit" value="1" />
    </form>

</div>
