@using Chirp.Web
@model dynamic

 
<ul id="messagelist" class="cheeps">
    @foreach (CheepViewModel cheep in Model.Cheeps)
    {
        <li>
            <p>
                <strong>
                    <a href="/@cheep.Author">@cheep.Author</a>
                </strong>
                @cheep.Message
                <small>&mdash; @cheep.Timestamp</small>
            </p>
            <div class="reaction-box">
            @foreach (var reaction in cheep.Reactions)
            {
                <p class="reactions-display"><u>@reaction.reactionType:  @reaction.count</u></p>
            }
            </div>
        </li>
    }
</ul>