@using Chirp.Web
@using Chirp.Core.Entities
@using Chirp.Core.Repository
@using Chirp.Infrastructure.Repository
@inject SignInManager<Author> SigninManager
@inject UserManager<Author> UserManager
@inject IAuthorRepository AuthorRepository
@model dynamic

 
<ul id="messagelist" class="cheeps">
    @foreach (CheepViewModel cheep in Model.Cheeps)
    {
        <li>
            <div class="cheep-view">
                <div class="cheep-info">
                    <strong>
                        <a href="/@cheep.Author">@cheep.Author</a>
                        <p>Followers: @AuthorRepository.GetAuthorByName(cheep.Author).Followers.Count</p>
                    </strong>
                    <p class="cheep-message">
                        @cheep.Message
                    </p>

                    <small>&mdash; @cheep.Timestamp</small>
                </div>
                <div class="reaction-box">
                    @foreach (var reaction in cheep.Reactions)
                    {
                        <u class="reactions-display">@reaction.reactionType: @reaction.count</u>
                    }
                </div>
                @if (SigninManager.IsSignedIn(User) && !(cheep.AuthorId == UserManager.GetUserAsync(User).Result?.Id)){
                    if (!Model.user.Following.Contains(await AuthorRepository.GetAuthorByIdAsync(cheep.AuthorId))) {
                        <form asp-page-handler="Follow" method="post">
                            <input type="hidden" id="author2FollowId" name="Author2FollowInput" value="@cheep.AuthorId.ToString()" />
                            <input type="submit" value="Follow" />
                        </form>
                    } else {
                        <form asp-page-handler="Unfollow" method="post">
                            <input type="hidden" id="author2UnfollowId" name="Author2UnfollowInput" value="@cheep.AuthorId.ToString()" />
                            <input type="submit" value="Unfollow" />
                        </form>
                    }
                
                }
            </div>
        </li>
    }
</ul>

<div style="display:flex;justify-content:center">

    @{

        var currentUrl = Context.Request.Path;

        var newUrl1 = $"{currentUrl}?page=1";
        var newUrl2 = $"{currentUrl}?page={@Model.currentPage-1}";
        var newUrl3 = $"{currentUrl}?page={@Model.currentPage}";
        var newUrl4 = $"{currentUrl}?page={@Model.currentPage+1}";
        var newUrl5 = $"{currentUrl}?page={@Model.totalPages}";

        //string name1 = "[1]";
        string name1 = $"[<<]";
        string name2 = $"[{@Model.currentPage - 1}]";
        string name3 = $"[{@Model.currentPage}]";
        string name4 = $"[{@Model.currentPage + 1}]";
        //string name5 = $"[{@Model.totalPages}]";
        string name5 = $"[>>]";

        
        if (@Model.currentPage > 1) {<a href="@newUrl1">@name1</a>}
        if (@Model.currentPage != 1) {<a href="@newUrl2">@name2</a>}

        <a href="@newUrl3" style="margin-inline:10px">@name3</a>

        if (@Model.currentPage != @Model.totalPages) {<a href="@newUrl4">@name4</a>}
        if (@Model.currentPage < @Model.totalPages) {<a href="@newUrl5">@name5</a>}


    }



</div>
