@using Chirp.Web
@model dynamic

 
<ul id="messagelist" class="cheeps">
    @foreach (CheepViewModel cheep in Model.Cheeps)
    {
        <li>
            <div class="cheep-view">
                <div class="cheep-info">
                    
                    <strong>
                        <a href="/@cheep.Author">@cheep.Author</a>
                    </strong>
                    <p class="cheep-message">
                        @cheep.Message
                    </p>

                    <small>&mdash; @cheep.Timestamp</small>
                </div>
            <div class="reaction-box">
                @foreach (var reaction in cheep.Reactions)
                {
                    <u class="reactions-display">@reaction.reactionType: @reaction.count</u>
                }
            </div>
            </div>
        </li>
    }
</ul>